<div class="w3-content" style="max-width:100%">
  <!-- First Grid: Logo & About -->
  <div class="w3-row w3-black">
    <a href="/work"
      ><div
        class=" bgimg-1 w3-half w3-black w3-container w3-center image w3-display-container w3-animate-left"
      >
        <h6
          class="w3-right w3-tiny w3-hide-medium w3-hide-large"
          style="color: rgba(255,255,255,0.5);"
        >
          <i class="fa fa-arrow-down"></i> Scroll down for the play side
        </h6>
        <div class="w3-padding-64 w3-center">
          <div class="w3-padding-64"></div>
          <div class="w3-padding-64 w3-center ">
            <div class="w3-padding-64 w3-center">
              <div class="w3-padding-64">
                <h3 class="hd1 ">{{ home_text }}</h3>
                <h5 class="hd1 o1 w3-hide-small w3-hide-medium">
                  <i class="fa fa-arrow-left w3-xlarge "> </i> Click this side
                  for WORK
                </h5>
                <h5 class="hd1  w3-hide-large ">
                  <i class="fa fa-arrow-left w3-xlarge "> </i> Click this side
                  for WORK
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>

    <a href="/play"
      ><div
        class="w3-half w3-blue-grey w3-container image bgimg-2 w3-display-container w3-animate-right"
      >
        <h6
          class="w3-right w3-tiny w3-hide-medium w3-hide-large"
          style="color: rgba(255,255,255,0.5);"
        >
          <i class="fa fa-arrow-up"></i> Scroll up for the work side
        </h6>
        <div class="w3-padding-64 w3-center">
          <div class="w3-padding-64"></div>
          <div class="w3-padding-64 w3-center ">
            <div class="w3-padding-64 w3-center">
              <div class="w3-padding-64">
                <h3 class="hd2 ">{{ simple_you }}</h3>
                <h5 class="hd2 o1 w3-hide-small w3-hide-medium">
                  Click this side for PLAY
                  <i class="fa fa-arrow-right w3-xlarge"></i>
                </h5>
                <h5 class="hd2  w3-hide-large">
                  Click this side for PLAY
                  <i class="fa fa-arrow-right w3-xlarge"></i>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-black w3-padding-16 w3-center">
    <p>{{ copyright }}</p>
    <p class="w3-small">{{ developer }}</p>
  </footer>
</div>
